@import url('https://fonts.googleapis.com/css2?family=Roboto');

body {
    font-family: "Roboto", sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    background-color: #1A1A1A;
    color: white;
    color: rgba(255,255,255,0.75);
}

#course-selector {
    margin-top: 10vw;
}

.course-container {
    display: flex;
    flex-direction: column;
}

.module-container {
    margin: 10px 10px;
    max-width: 100vw;
    min-height: 500px;
    border-radius: 10px;
}

.titlecard {
    margin: 10px 10px;
    background-color: #282828;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.title-ele {
    color: white;
    background-color: #373737;
    margin: 10px 10px;
    border-radius: 10px;
    padding: 0px 20px;
    min-width: 70px;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.content-box {
    margin: 10px 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: #282828;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.grade-graph {
    margin: 20px 10px;
    height: 30vh;
    width: 30vh;
    display: flex;
    flex-direction: row;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.grade-bar {
    height: 100%;
    background-color: none;
    border: 1px solid #1A1A1A;
    background-color: #373737;
    border-radius: 5px;
    position: relative;
}

.bar-progress {
    display: flex;
    width: 100%;
    position: absolute;
    border-radius: 5px;
    bottom: 0;
}

.user-form{
    padding: 1vh 1vw;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    width: 60vh;
}

.component-form {
    margin: 1vh 6px;
}

.user-form input{
    margin: 1vh 0px;
    width: 100%;
}
